/* RESET GERAL DA PAÁGINA */
* {
    padding: 0;
    margin: 0;
    font: normal 100% 'Rowdies', cursive;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* TÍTULOS */
h6 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.8em;
}

h2 {
    font-size: 2em;
}

h1 {
    font-size: 2.2em;
}

/* BOTÕES */
.btn, .ipt {
    padding: 10px 20px;
    border-style: solid;
    border-width: 2px;
}

.btn-reg {
    padding: 0;
    width: 50px;
    height: 50px;
}

.hr-ho {
    border: none;
    height: 3px;
    margin: 15px 0px;
}

i {
    font-size: 1.5em;
}