/* CORES PADRÕES */
:root {
    --cor-amarela-clara: #fff5cc;
    --cor-amarela: #ffcc00;
    --cor-vermelha-clara: #f8a0a0;
    --cor-vermelha: #f13b3b;
}

/* CABECALHO */
.hr-ho {
    background-color: var(--cor-vermelha);
}

#cabecalho {
    padding: 15px 30px;
    float: left;
    width: 100%;
    background-color: var(--cor-amarela);
    position: fixed;
    top: 0;
}

#cabecalho .logo {
    color: var(--cor-vermelha);
    float: left;
    border-bottom: solid 3px var(--cor-vermelha);
}

#cabecalho #menu-navegacao {
    float: left;
    width: 100%;
    display: none;
}

#cabecalho #menu-navegacao a {
    color: var(--cor-vermelha);
    float: left;
    width: 100%;
    font-size: 1.5em;
    line-height: 1.5em;
}

 #menu-navegacao a i {
    margin-right: 20px;
    font-size: 1.2em;
}

#cabecalho .logo h1 {
    line-height: 50px;
}

#cabecalho #btn-menu {
    color: var(--cor-vermelha);
    border-color: var(--cor-vermelha);
    background-color: var(--cor-amarela);
    float: right;
}

/* CORPO */
#corpo {
    background-color: var(--cor-vermelha);
    padding: 15px 30px;
    margin-top: 80px;
    width: 100%;
}

#corpo .produtos {
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px 5px 0px 0px;
    display: block;
}

#corpo .produtos:last-child {
    margin-bottom: 0;
}

#corpo .produtos img {
    float: left;
    width: 100%;
    height: 225px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: solid 4px var(--cor-vermelha);
}

#corpo .produtos .descricao {
    padding: 10px;
    color: var(--cor-vermelha);
}

#corpo .descricao p {
    margin: 15px auto;
}

#corpo .descricao .btn-ver {
    border: none;
    background-color: white;
    color: var(--cor-vermelha);
    border-left: solid 2px var(--cor-vermelha);
    border-bottom: solid 2px var(--cor-vermelha);
}

#rodape {
    float: left;
    width: 100%;
    padding: 15px 30px;
    background-color: var(--cor-amarela);
}

#rodape form input[type='tel'] {
    float: left;
    width: 80%;
    border-color: white;
}

#rodape form button[type='button'] {
    padding: 0;
    width: 20%;
    height: 44px;
    line-height: 100%;
    border-left: none;
    border-color: var(--cor-vermelha);
    background-color: var(--cor-vermelha);
    color: var(--cor-amarela);
}

#rodape .sociais {
    float: left;
    width: 100%;
    margin: 15px auto;
    text-align: center;
}

#rodape .sociais li {
    display: inline-block;
}

#rodape .sociais i {
    color: var(--cor-vermelha);
}

#rodape .sociais li {
    margin-right: 15px;
}

#rodape .sociais li:last-child {
    margin-right: 0px;
}

#rodape .info {
    text-align: center;
    float: left;
    width: 100%;
    color: var(--cor-vermelha);
}

@media screen and (min-width: 480px) {
    #corpo .vendas {
        text-align: justify;
    }

    #corpo .vendas::after {
        display: inline-block;
        width: 100%;
        content: '';
    }
    
    #corpo .vendas .produtos {
        display: inline-block;
        width: 30%;
    }

    #corpo .vendas .produtos img {
        height: auto;
    }

    #rodape form {
        width: 50%;
        margin: 0px auto;
    }
}

@media screen and (min-width: 768px) {
    #cabecalho #btn-menu {
        display: none;
    }

    #cabecalho #menu-navegacao {
        display: inline-block;
        width: auto;
        float: right;
        text-align: right;
    }

    #cabecalho #menu-navegacao .hr-ho, #cabecalho #menu-navegacao i {
        display: none;
    }

    #menu-navegacao li {
        float: left;
    }

    #menu-navegacao li:first-child {
        margin-left: 0;
    }

    #menu-navegacao li a {
        padding: 10px 30px;
        border-bottom-style: solid;
        border-bottom-width: 3px;
        border-bottom-color: var(--cor-amarela);
    }

    #menu-navegacao li a:hover {
        border-bottom-color: var(--cor-vermelha);
    }

    #rodape form {
        width: 30%;
    }
}

@media screen and (min-width: 960px) {
}

@media screen and (min-width: 1280px) {
    #rodape form {
        width: 15%;
    }
}